<div class="section2" 
    data-login="<%= isLogin %>"
    data-connect="<%= JSON.stringify(mission['connect']) %>"
    data-twitter="<%= JSON.stringify(mission['twitter']) %>"
    data-test="<%= JSON.stringify(mission['test']) %>"
    data-discord="<%= JSON.stringify(mission['discord']) %>"
    data-invite="<%= JSON.stringify(mission['invite']) %>"
>
    <div class="mission_wrap">
        <div class="tit">CONNECT</div>
        
        <div class="mission_list connect">
        </div>
    </div>

    <div class="mission_wrap">
        <div class="tit">TWITTER</div>
        
        <div class="mission_list twitter"></div>
    </div>

    <div class="mission_wrap">
        <div class="tit">DISCORD</div>
        
        <div class="mission_list discord"></div>
    </div>

    <div class="mission_wrap">
        <div class="tit">INVITE</div>
        
        <div class="mission_list invite"></div>
    </div>

    <!-- <div class="mission_wrap">
        <div class="tit">TEST</div>
        
        <div class="mission_list test"></div>
    </div> -->
</div>