
<div class="app-header">
  <div class="app-header-wrap">
    <div class="left_contens">
      <div class="logo">
        <img src="/img/logo.svg" alt=""/>
      </div>
  
      <div class="tit">
        AIRDROP
      </div>
    </div>

    <div class="right_contents">
      <div class="login_sec">
        <% if(isLogin){ %>
          <div class="loginInfo">
            <span class="info"><%= user.name %></span>
            
            <span class="burger">
              <img src="/img/burger.svg" alt="" />
            </span>
  
            <span class="smile">
              <img src="/img/smile.svg" alt="" />
            </span>
  
            <div class="hide">
              <div class="menu_sec">
                <a href="#">
                  <img src="/img/twitter.svg" alt=""/>
                  <span><%= user.twitter_id %></span>
                </a>
          
                <% if (user.address && user.address !== '') { %>
                  <a href="#" id="connectMetamaskBtn">
                    <img src="/img/wallet.svg" alt=""/>
                    <span><%= user.address %></span>
                  </a>
                <% } else { %>
                  <a href="#" id="connectMetamaskBtn" onclick="connectMetamask()">
                    <img src="/img/wallet.svg" alt=""/>
                    <span>CONNECT</span>
                  </a>
                <% } %>

                <!-- <% if (user.telegram_id !== '') { %>
                  <a href="#" id="connectTelegramBtn" onclick="connectTelegram()">
                    <img src="/img/telegram.svg" alt=""/>
                    <span><%= user.telegram_id %></span>
                  </a>
                <% } else { %>
                  <a href="#" id="connectTelegramBtn" onclick="connectTelegram()">
                    <img src="/img/telegram.svg" alt=""/>
                    <span>CONNECT</span>
                  </a>
                <% } %> -->

                <% if (user.discord_id && user.discord_id !== '') { %>
                  <a href="#" id="connectDiscordBtn">
                    <img src="/img/discord.svg" alt=""/>
                    <span><%= user.discord_id %></span>
                  </a>
                <% } else { %>
                  <a href="#" id="connectMetamaskBtn">
                    <img src="/img/discord.svg" alt=""/>
                    <span>CONNECT</span>
                  </a>
                <% } %>
              </div> 
  
              <div class="logout">
                <div>
                  My Referral : 
                  <p>http://1.234.112.72:3784?referral=<%= user.id %></p>
                </div>
                <a  class="logout_btn" onclick="disconnectTwitter()">
                  DISCONNECT
                </a>
              </div>
            </div>
          </div>
        <% } else { %>
          <a href="#" class="m_login" onclick="signTwitter()">
            <img src="/img/m_login.svg" alt=""/>
          </a>
          
          <a href="#" class="login" onclick="signTwitter()">
            CONNECT to X
          </a>
        <% } %> 
      </div>
    </div>
  </div>
</div>






